<!DOCTYPE html>
<html>
<head>
    <title>Amii代码发布系统</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="content" style="margin: 50px auto;">
        <div class="title">我是一只小花猫，从来不吃鱼！</div>
        <span class="err">{{ error }}</span>
        <form action="/deployer/login" method="post">
            <div class="div_login">
                <ul>
                    <li style="clear: both;">用户：<input type="text" name="user_name" value="{{ user_name }}" /></li>
                    <li style="clear: both;">密码：<input type="password" name="password" /></li>
                    <li style="clear: both;"><input type="submit" value="我要狠狠的登录" style="font-size:16px; padding: 5px 10px; margin: 20px 0px 0px 0px;" /></li>
                </ul>
            </div>
        </form>

    </div>
</div>
</body>
</html>
